body {background-color:white; color:white; font-family:"Verdana"}
h1   {color:#008080}
h2   {color:#008080}
h3   {color:black}
h4   {color:black}
p    {color:black}
p2   {color:black}
a:link {color:#8D00FB;}
a:visited {color:#8D00FB;}
a:hover {color:#FCA98C;}
a:active {color:#FCA98C;}


.flex-container-header {
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: auto;
    background-color: #008080;
}

.flex-item-header {
    background-color: none;
    width: 100%;
    height: auto;
    margin: 10px;
    font-size: 150%;
}
/*
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: auto;
    background-color: white;
}
*/
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
    background: none;
    background-color: white;
    border: none solid gray;
    padding: none;
}

.flex-container > * {
    padding: auto;
    margin: 1em;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.flex-item {
    background-color: none;
    width: 100%;
    height: auto;
    margin: 10px;
}
/*
@media all and (min-width: 768px) {
    .flex-container {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:2;order:2;}
}
*/

.panel {
    margin: auto;
    width: auto;
    height: auto;
    border: none solid gray;
    background: #008080;
    text-align: center;
    padding: 15px;
    margin: 15px;
}

.icon {
    width: auto;
    height: 5em;
}