body {background-color:white; color:white; font-family:"Verdana"}
h1   {color:#008080}
h2   {color:#008080}
h3   {color:black}
h4   {color:black}
p    {color:white}
p2   {color:black}
a:link {color:#8D00FB;}
a:visited {color:#8D00FB;}
a:hover {color:#FCA98C;}
a:active {color:#FCA98C;}


.container {
    margin: auto;
    width: 80%;
    background: none;
    border: 1px solid gray;
    padding: none;
}

.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    width: auto;
    background: none;
    border: none solid gray;
    padding: none;
}

.flex-container > * {
    padding: auto;
    margin: 1em;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

@media all and (min-width: 768px) {
    .full-wide {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:2;order:2;}

}

.header {
	margin: auto;
    width: auto;
    height: auto;
    background-color: #008080;
    color: white;
    text-align: left;
    padding: 1em;
}

.footer {
    margin: auto;
    width: auto;
    height: auto;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

.full-wide {
    margin: none;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    float: none;
    width: none;
    height: auto;
    background: none;
    text-align: left;
    padding: 1em;
}

.left {
    margin: none;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    float: none;
    width: none;
    height: auto;
    background: none;
    text-align: left;
    padding: 1em;
}

.right {
    margin: none;
    margin-top: 0px;
    margin-left: none;
    margin-right: auto;
    margin-bottom: auto;
    float: none;
    width: auto;
    height: auto;
    background: white;
    text-align: left;
    padding: 1em;
}

.panel {
    margin: auto;
    width: auto;
    height: auto;
    border: none solid gray;
    background: #008080;
    text-align: center;
    padding: 15px;
    margin: 15px;
}

section {
    width: auto;
    height: auto;
    background: white;
    margin: auto;
    text-align: left;
    padding: 15px;
}

.icon {
    width: auto;
    height: 8em;
}